@font-face {
  font-family: 'ed-suite';
  src:  url('../fonts/ed-suite.eot?qga6rp');
  src:  url('../fonts/ed-suite.eot?qga6rp#iefix') format('embedded-opentype'),
    url('../fonts/ed-suite.ttf?qga6rp') format('truetype'),
    url('../fonts/ed-suite.woff?qga6rp') format('woff'),
    url('../fonts/ed-suite.svg?qga6rp#ed-suite') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-edsuite"]:before, [class*=" icon-edsuite"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ed-suite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edsuiteic_audiotrack_black_24px:before {
  content: "\e900";
}
.icon-edsuiteic_format_quote_black_24px:before {
  content: "\e901";
}
.icon-edsuiteic_home_black:before {
  content: "\e902";
}
.icon-edsuiteic_queue_music_black:before {
  content: "\e903";
}
.icon-edsuiteic_trending_up_black:before {
  content: "\e904";
}
.icon-edsuiteic_wb_incandescent_black:before {
  content: "\e905";
}
.icon-edsuitequote:before {
  content: "\e906";
}
.icon-edsuitearrow:before {
  content: "\e907";
}
.icon-edsuiteright-arrow:before {
  content: "\e909";
}
.icon-edsuiteclock-one:before {
  content: "\e92b";
}
.icon-edsuitecomment:before {
  content: "\e92c";
}
.icon-edsuitecomputer:before {
  content: "\e92d";
}
.icon-edsuitecup:before {
  content: "\e92e";
}
.icon-edsuitecustomer:before {
  content: "\e92f";
}
.icon-edsuitedark-eye:before {
  content: "\e930";
}
.icon-edsuitediploma:before {
  content: "\e931";
}
.icon-edsuitediploma-one:before {
  content: "\e932";
}
.icon-edsuiteedit-draw-pencil:before {
  content: "\e933";
}
.icon-edsuitefood5:before {
  content: "\e935";
}
.icon-edsuitefootball:before {
  content: "\e936";
}
.icon-edsuitegps:before {
  content: "\e937";
}
.icon-edsuitehand:before {
  content: "\e938";
}
.icon-edsuitehtml:before {
  content: "\e939";
}
.icon-edsuiteicon:before {
  content: "\e93a";
}
.icon-edsuiteleft-arrow:before {
  content: "\e93b";
}
.icon-edsuiteletter:before {
  content: "\e93c";
}
.icon-edsuitelight-bulb:before {
  content: "\e93d";
}
.icon-edsuitemeasuring:before {
  content: "\e93e";
}
.icon-edsuitemedal:before {
  content: "\e93f";
}
.icon-edsuitemedal-number-one:before {
  content: "\e940";
}
.icon-edsuitemedal-one:before {
  content: "\e941";
}
.icon-edsuitemegaphone:before {
  content: "\e942";
}
.icon-edsuitemusic:before {
  content: "\e943";
}
.icon-edsuitenotification-bell:before {
  content: "\e944";
}
.icon-edsuitepencil:before {
  content: "\e945";
}
.icon-edsuiteplaceholder:before {
  content: "\e946";
}
.icon-edsuiteicon-bus:before {
  content: "\e948";
}
.icon-edsuiteschool-flag:before {
  content: "\e94a";
}
.icon-edsuitequality:before {
  content: "\e94b";
}
.icon-edsuiteuniversity-flag:before {
  content: "\e94c";
}
.icon-edsuiteribbon:before {
  content: "\e94d";
}
.icon-edsuiteribbon-badge-award:before {
  content: "\e94e";
}
.icon-edsuiteright-arrow2:before {
  content: "\e94f";
}
.icon-edsuiteuniversity-campus:before {
  content: "\e950";
}
.icon-edsuitesaturn-rings:before {
  content: "\e951";
}
.icon-edsuiteuniversity-with-a-flag:before {
  content: "\e952";
}
.icon-edsuitearrow-pointing-to-right:before {
  content: "\e953";
}
.icon-edsuiteschool:before {
  content: "\e954";
}
.icon-edsuitescissors:before {
  content: "\e955";
}
.icon-edsuitesearch:before {
  content: "\e956";
}
.icon-edsuiteshape:before {
  content: "\e957";
}
.icon-edsuitebig-map-placeholder:before {
  content: "\e958";
}
.icon-edsuitesigns:before {
  content: "\e95a";
}
.icon-edsuitelinkedin-logo:before {
  content: "\e95b";
}
.icon-edsuitebook-with-white-bookmark2:before {
  content: "\e95c";
}
.icon-edsuitesigns3:before {
  content: "\e95d";
}
.icon-edsuitesigns4:before {
  content: "\e95e";
}
.icon-edsuitedialog:before {
  content: "\e95f";
}
.icon-edsuiteelementary-school:before {
  content: "\e960";
}
.icon-edsuitefacebook-letter-logo:before {
  content: "\e961";
}
.icon-edsuitefacebook-logo-button:before {
  content: "\e962";
}
.icon-edsuitegoogle-plus:before {
  content: "\e964";
}
.icon-edsuitegoogle-plus-logo-button:before {
  content: "\e965";
}
.icon-edsuitevimeo:before {
  content: "\e966";
}
.icon-edsuiteinstagram-logo:before {
  content: "\e967";
}
.icon-edsuiteinstagram-symbol:before {
  content: "\e968";
}
.icon-edsuiteknife-and-spoon-crossed:before {
  content: "\e969";
}
.icon-edsuitelong-arrow-pointing-to-the-right2:before {
  content: "\e96a";
}
.icon-edsuitemortarboard:before {
  content: "\e96b";
}
.icon-edsuitepinterest-circular-logo-symbol2:before {
  content: "\e96c";
}
.icon-edsuitereading-sign:before {
  content: "\e96d";
}
.icon-edsuiteright-arrow-thin:before {
  content: "\e96f";
}
.icon-edsuiteright-arrow22:before {
  content: "\e971";
}
.icon-edsuiteright-arrow-in-black-circular-button:before {
  content: "\e972";
}
.icon-edsuiteright-arrow-signal:before {
  content: "\e973";
}
.icon-edsuiteright-chevron2:before {
  content: "\e974";
}
.icon-edsuitesocial-buttons-skype:before {
  content: "\e976";
}
.icon-edsuitesocial-instagram-circle:before {
  content: "\e977";
}
.icon-edsuitesocial-rss:before {
  content: "\e978";
}
.icon-edsuitesocial-rss-circle-internet:before {
  content: "\e979";
}
.icon-edsuitesocial-vimeo-in-a-circle-logo:before {
  content: "\e97a";
}
.icon-edsuitesuitcase:before {
  content: "\e97b";
}
.icon-edsuitetarget-arrow:before {
  content: "\e97c";
}
.icon-edsuitetelegram:before {
  content: "\e97d";
}
.icon-edsuitethin-right-arrow:before {
  content: "\e97e";
}
.icon-edsuitetime-almost-full:before {
  content: "\e97f";
}
.icon-edsuitetrophy:before {
  content: "\e980";
}
.icon-edsuitetwitter-black-shape:before {
  content: "\e981";
}
.icon-edsuitetwitter-logo-button:before {
  content: "\e982";
}
.icon-edsuiteuser:before {
  content: "\e985";
}
.icon-edsuiteyoutube-logo-play:before {
  content: "\e986";
}
.icon-edsuiteyoutube-logo:before {
  content: "\e987";
}
.icon-edsuiteyoutube-logotype:before {
  content: "\e988";
}
.icon-edsuiteic_check_box:before {
  content: "\e989";
}
.icon-edsuiteic_star:before {
  content: "\e98a";
}
.icon-edsuiteic_notifications-bell:before {
  content: "\e98b";
}
.icon-edsuiteic_notifications:before {
  content: "\e98c";
}
.icon-edsuiteic_people:before {
  content: "\e98d";
}
.icon-edsuiteic_person:before {
  content: "\e98e";
}
.icon-edsuiteic_poll:before {
  content: "\e98f";
}
.icon-edsuiteic_public:before {
  content: "\e990";
}
.icon-edsuiteic_school:before {
  content: "\e991";
}
.icon-edsuitesocial-media3:before {
  content: "\e992";
}
.icon-edsuiteic_event_note:before {
  content: "\e993";
}
.icon-edsuiteic_phone_in_talk:before {
  content: "\e994";
}
.icon-edsuiteic_arrow_back-one:before {
  content: "\e995";
}
.icon-edsuiteic_arrow_drop_down:before {
  content: "\e996";
}
.icon-edsuiteic_arrow_drop_down_circle:before {
  content: "\e997";
}
.icon-edsuiteic_arrow_drop_up:before {
  content: "\e999";
}
.icon-edsuitesigns-one:before {
  content: "\e99a";
}
.icon-edsuiteic_arrow_forward:before {
  content: "\e99b";
}
.icon-edsuitesmall-camera:before {
  content: "\e99c";
}
.icon-edsuitesocial:before {
  content: "\e99d";
}
.icon-edsuitesocial-media:before {
  content: "\e99e";
}
.icon-edsuitesocial-media1:before {
  content: "\e99f";
}
.icon-edsuitesocial-media2:before {
  content: "\e9a0";
}
.icon-edsuitesymbol:before {
  content: "\e9a2";
}
.icon-edsuitetelephone:before {
  content: "\e9a3";
}
.icon-edsuitetime:before {
  content: "\e9a4";
}
.icon-edsuitetime-one:before {
  content: "\e9a5";
}
.icon-edsuitetime3:before {
  content: "\e9a7";
}
.icon-edsuitetool-one:before {
  content: "\e9a8";
}
.icon-edsuitetool3:before {
  content: "\e9a9";
}
.icon-edsuiteic_arrow_upward:before {
  content: "\e9aa";
}
.icon-edsuiteic_check:before {
  content: "\e9ab";
}
.icon-edsuiteic_chevron_left:before {
  content: "\e9ac";
}
.icon-edsuiteic_chevron_right:before {
  content: "\e9ad";
}
.icon-edsuiteic_beenhere:before {
  content: "\e9ae";
}
.icon-edsuiteic_directions_bus:before {
  content: "\e9af";
}
.icon-edsuiteic_local_dining:before {
  content: "\e9b0";
}
.icon-edsuiteic_local_library:before {
  content: "\e9b2";
}
.icon-edsuiteic_local_printshop:before {
  content: "\e9b3";
}
.icon-edsuiteic_person_pin:before {
  content: "\e9b4";
}
.icon-edsuiteic_pin_drop:before {
  content: "\e9b5";
}
.icon-edsuiteic_place:before {
  content: "\e9b6";
}
.icon-edsuiteic_assistant_photo:before {
  content: "\e9b7";
}
.icon-edsuiteic_burst_mode-one:before {
  content: "\e9b8";
}
.icon-edsuiteic_collections_bookmark:before {
  content: "\e9b9";
}
.icon-edsuiteic_color_lens-one:before {
  content: "\e9ba";
}
.icon-edsuiteic_photo_camera-one:before {
  content: "\e9c0";
}
.icon-edsuiteic_photo_library:before {
  content: "\e9c1";
}
.icon-edsuiteic_picture_as_pdf:before {
  content: "\e9c2";
}
.icon-edsuiteic_portrait:before {
  content: "\e9c3";
}
.icon-edsuiteic_slideshow:before {
  content: "\e9c4";
}
.icon-edsuiteic_folder:before {
  content: "\e9c5";
}
.icon-edsuiteic_attach_file:before {
  content: "\e9c7";
}
.icon-edsuiteic_format_quote:before {
  content: "\e9c8";
}
.icon-edsuiteic_format_size:before {
  content: "\e9c9";
}
.icon-edsuiteic_insert_photo:before {
  content: "\e9ca";
}
.icon-edsuiteic_add:before {
  content: "\e9cb";
}
.icon-edsuiteic_add_circle:before {
  content: "\e9cc";
}
.icon-edsuiteic_flag:before {
  content: "\e9cd";
}
.icon-edsuiteic_link:before {
  content: "\e9ce";
}
.icon-edsuiteic_email:before {
  content: "\e9cf";
}
.icon-edsuiteic_forum:before {
  content: "\e9d0";
}
.icon-edsuiteic_import_contacts:before {
  content: "\e9d1";
}
.icon-edsuiteic_message:before {
  content: "\e9d3";
}
.icon-edsuiteic_phone:before {
  content: "\e9d4";
}
.icon-edsuiteic_ring_volume:before {
  content: "\e9d5";
}
.icon-edsuiteic_equalizer:before {
  content: "\e9d6";
}
.icon-edsuiteic_library_add:before {
  content: "\e9d7";
}
.icon-edsuiteic_library_books:before {
  content: "\e9d8";
}
.icon-edsuiteic_play_arrow:before {
  content: "\e9d9";
}
.icon-edsuiteic_play_circle_filled:before {
  content: "\e9da";
}
.icon-edsuiteic_subscriptions:before {
  content: "\e9db";
}
.icon-edsuiteic_video_library:before {
  content: "\e9dc";
}
.icon-edsuiteic_videocam:before {
  content: "\e9dd";
}
.icon-edsuiteic_volume_down:before {
  content: "\e9de";
}
.icon-edsuiteic_accessibility:before {
  content: "\e9df";
}
.icon-edsuiteic_account_balance:before {
  content: "\e9e0";
}
.icon-edsuiteic_account_balance_wallet-one:before {
  content: "\e9e1";
}
.icon-edsuiteic_account_box:before {
  content: "\e9e2";
}
.icon-edsuiteic_account_circle:before {
  content: "\e9e3";
}
.icon-edsuiteic_assignment_ind:before {
  content: "\e9e4";
}
.icon-edsuiteic_bookmark:before {
  content: "\e9e6";
}
.icon-edsuiteic_class:before {
  content: "\e9e7";
}
.icon-edsuiteic_date_range:before {
  content: "\e9e8";
}
.icon-edsuiteic_favorite:before {
  content: "\e9ea";
}
.icon-edsuiteic_question_answer:before {
  content: "\e9eb";
}
.icon-edsuiteic_record_voice_over:before {
  content: "\e9ec";
}
.icon-edsuiteic_room2:before {
  content: "\e9ed";
}
.icon-edsuiteic_schedule:before {
  content: "\e9ee";
}
.icon-edsuiteic_search:before {
  content: "\e9ef";
}
.icon-edsuiteic_settings_phone:before {
  content: "\e9f0";
}
.icon-edsuiteic_speaker_notes:before {
  content: "\e9f1";
}
.icon-edsuiteic_stars:before {
  content: "\e9f2";
}
.icon-edsuiteic_supervisor_account:before {
  content: "\e9f3";
}
.icon-edsuiteic_thumb_up:before {
  content: "\e9f4";
}
.icon-edsuiteic_today:before {
  content: "\e9f5";
}
.icon-edsuiteic_trending_down:before {
  content: "\e9f6";
}
.icon-edsuiteic_trending_flat-one:before {
  content: "\e9f7";
}
.icon-edsuiteic_turned_in:before {
  content: "\e9f9";
}
.icon-edsuiteic_verified_user:before {
  content: "\e9fa";
}
.icon-edsuiteic_visibility:before {
  content: "\e9fb";
}
.icon-edsuiteic_watch_later:before {
  content: "\e9fc";
}
.icon-edsuiteic_zoom_in:before {
  content: "\e9fd";
}
.icon-edsuitedown-chevron-down:before {
  content: "\ea03";
}
.icon-edsuitetwo-quotes:before {
  content: "\ea04";
}
